:root {
  --base-font-color-black: #222;
  --base-font-color-white: #FFF;
  --base-input-font-color: #2A323C;
  --border-input-color: #A6ADBA;
  --border-input-focus-color: #242B33;
  --button-color: #641AE6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--base-font-color-black);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

main {
  margin-top: 30px;
  text-align: center;
  border-radius: 5px;
}

main h1 {
  margin: 20px 0 30px;
}

section {
  text-align: left;
  padding: 0 50px 0;
}

section h3 {
  padding: 0 0 30px;
  font-size: 0.9rem;
}

section form {
  display: flex;
  flex-wrap: wrap;
}

form input {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: var(--base-input-font-color);
  border: 1px solid var(--border-input-color);
  border-radius: 5px;
}

form input:focus {
  border: 1px solid var(--border-input-color);
  outline: 1px solid var(--border-input-color);
}

form label {
  margin-top: 10px;
}

form button {
  margin-top: 20px;
}

#submit {
  background-color: var(--button-color);
  border: 1px solid transparent;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  color: var(--base-font-color-white);
  border-radius: 5px;
  cursor: pointer;
}

h4 {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
}

#results-detail {
  display: inline;
  font-weight: 400;
}